{% extends "main/base.html" %}

{% block title %}Information Not Available{% endblock %}

{% load staticfiles %}
{% block carousel %}
    <div class="carousel-description text-center"><h3>Reviews Not Available</h3></div>
{% endblock %}

{% block content %}

<div class="alert alert-danger">
  <p>Only class sections for which 60% of students filled out evaluations are displayed in the system. Missing classes? Encourage your classmates to fill out their evals in the future.</p>
</div>
{% endblock %}
