{% extends "main/base.html" %}

{% block title %}Information Not Available{% endblock %}

{% block banner %}
{% load staticfiles %}
<div class="container-fluid campus-carousel" style="background-image:url({% static "carousel.jpg" %})">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="top:25%; margin-top:15px;">
    <div class="carousel-description text-center"><h3>Reviews Not Available</h3></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="alert alert-danger">
  <p>Only class sections for which 60% of students filled out evaluations are displayed in the system. Missing classes? Encourage your classmates to fill out their evals in the future.</p>
</div>
{% endblock %}
