{% extends "main/base.html" %}

{% block title %}Something Broke{% endblock %}

{% block banner %}
{% load staticfiles %}
<div class="container-fluid campus-carousel" style="background-image:url({% static "carousel.jpg" %})">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="top:25%; margin-top:15px;">
    <div class="carousel-description text-center"><h3>Something Broke :/</h3></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="alert alert-danger">
  <p>Something broke but we can't tell you what. </p>
</div>
{% endblock %}

