{% extends "main/base.html" %}

{% block title %}Course {{subj}} {{classcatnbr}}{% endblock %}

{% block banner %}
{% load staticfiles %}
<div class="container-fluid campus-carousel"style="background-image:url({% static "carousel.jpg"%})">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="top:25%; margin-top:15px;">
    <div class="carousel-description text-center"><h1>{{subj}} {{classcatnbr}}</h1></div>
  </div>
</div>

{% endblock %}

{% block content %}
<h2 class="text-center">Summary Results</h2>
<div class="container">
  <div class="panel panel-default">

    <table class="table">
      <tr>
        <th>Question</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td>{{questions.0.text}}</td>
        <td>{{ratings.0}}</td>
      </tr>
      <tr>
        <td>{{questions.1.text}}</td>
        <td>{{ratings.1}}</td>
      </tr>
      <tr>
        <td>{{questions.2.text}}</td>
        <td>{{ratings.2}}</td>
      </tr>
      <tr>
        <td>{{questions.3.text}}</td>
        <td>{{ratings.3}}</td>
      </tr>
      <tr>
        <td>{{questions.4.text}}</td>
        <td>{{ratings.4}}</td>
      </tr>
      <tr>
        <td>{{questions.5.text}}</td>
        <td>{{ratings.5}}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
