{% extends "main/base.html" %}

{% block title %}OpenEvals{% endblock %}

{% block banner %}
{% load staticfiles %}

{% endblock banner %}
{{% block carousel %}

          <button class="btn btn-lg btn-outline-primary btn-main-search search-margin">
                Search
                <span class="glyphicon glyphicon-search carousel-search-icon"></span>
              </button>

    <form class="search-margin search-bar-hide" action="{% url 'main:search' "" %}" method="get">
            {{ search_form }}
        </form>

    <button class="btn btn-lg btn-outline-primary btn-main-search-x search-margin">
    Cancel <span class="glyphicon glyphicon-remove carousel-search-icon" aria-hidden="true"></span>
    </button>
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center">Learn More</h2>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <h2 class="text-primary"><a href="/search">Search Courses &amp; Professors</a></h2>
          <p>Search by course code or professor name.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <h2 class="text-primary"><a href="/search">Explore Your Options</a></h2>
          <p>See all the courses each professor teaches. See all of the professors who teach a course and how they compare. Find the right choice for your needs and learning style.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <h2 class="text-primary"><a href="/search">High-Quality Data</a></h2>
          <p>OpenEvals features data derived from high-quality questions created and accepted by the community. Review data is only included when it is statistically valid. No chili peppers here!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
