{% extends "main/base.html" %}

{% block title %}OpenEvals{% endblock %}

{% block banner %}
    {% load staticfiles %}
    <div class="container-fluid carousel" style="background-image:url({% static "carousel.jpg" %})">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="top:25%;
             margin-top:15px;">
            <h2 class="carousel-title text-center">Open Evals</h2>
            <div class="">
                <div class="carousel-description text-center"></div>
                <h3>
                    <p>Review evaluations of courses and professors by RIT students</p>
                </h3>
            </div>

        </div>
    </div>
{% endblock banner %}

{% block content %}
<div class="col-md-4 col-sm-12">
                <h4 class="text-center">
                    Blurb Title
                </h4>
                <div class="square-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor.
                </div>
            </div>
    <div class="col-md-4 col-sm-12">
                <h4 class="text-center">
                    Blurb Title
                </h4>
                <div class="square-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor.
                </div>
            </div>
    <div class="col-md-4 col-sm-12">
                <h4 class="text-center">
                    Blurb Title
                </h4>
                <div class="square-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor.
                </div>
            </div>
{% endblock content %}
