{% extends "main/base.html" %}

{% block title %}Professor {{firstname}} {{lastname}}{% endblock %}

{% block banner %}
{% load staticfiles %}
<div class="container-fluid campus-carousel"style="background-image:url({% static "carousel.jpg"%})">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="top:25%; margin-top:15px;">
    <div class="carousel-description text-center"><h1>Professor {{firstname}} {{lastname}}</h1></div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center"><h2>Rating</h2></div>
    <table class="table">
      <tr>
        <th>Question</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td>Question 1</td>
        <td>99%</td>
      </tr>
      <tr>
        <td>Question 2</td>
        <td>99%</td>
      </tr>
      <tr>
        <td>Question 3</td>
        <td>99%</td>
      </tr>
      <tr>
        <td>Question 4</td>
        <td>99%</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
