{% extends "main/base.html" %}

{% block title %}Professor {{firstname}} {{lastname}}{% endblock %}

{% block banner %}
{% load staticfiles %}
<div class="container-fluid campus-carousel"style="background-image:url({% static "carousel.jpg"%})">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="top:25%;">
    <div class="carousel-description text-center"><h1>Professor {{firstname}} {{lastname}}</h1></div>
  </div>
</div>
{% endblock %}

{% block content %}
<h2 class="text-center">Questions and Responses</h2>
<div class="container">
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th>Question</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td>{{questions.0.title}}</td>
        <td>{{ratings.0}}</td>
      </tr>
      <tr>
        <td>{{questions.1.title}}</td>
        <td>{{ratings.1}}</td>
      </tr>
      <tr>
        <td>{{questions.2.title}}</td>
        <td>{{ratings.2}}</td>
      </tr>
      <tr>
        <td>{{questions.3.title}}</td>
        <td>{{ratings.3}}</td>
      </tr>
      <tr>
        <td>{{questions.4.title}}</td>
        <td>{{ratings.4}}</td>
      </tr>
      <tr>
        <td>{{questions.5.title}}</td>
        <td>{{ratings.5}}</td>
      </tr>
      <tr>
        <td>{{questions.6.title}}</td>
        <td>{{ratings.6}}</td>
      </tr>
      <tr>
        <td>{{questions.7.title}}</td>
        <td>{{ratings.7}}</td>
      </tr>
      <tr>
        <td>{{questions.8.title}}</td>
        <td>{{ratings.8}}</td>
      </tr>
      <tr>
        <td>{{questions.9.title}}</td>
        <td>{{ratings.9}}</td>
      </tr>
    </table>
  </div>
  </div>
<h2 class="text-center">Courses</h2>
<div class="container">
  <div class="row">
    {% for course in courses %}
    <a href= "{% url 'main:course_full' course.class_number course.class_number %}" >
      <div class="square col-md-4">
        <div class="square-content" style="height:auto;">
          <div class="row">
            <div class="col-xs-10"><h2 style="color: black;">{{ course.class_code}}-{{ course.course_title }}</h2></div>
            <div class="col-xs-2">
              <h2 style="color: black; text-align: right">
                {{ course.numSections }}
              </h2>
            </div>
          </div>
          <h4 class="secondary_link">
            Campuses:
            {% for campus in course.campus %}
            {{ campus }}&nbsp;
            {% endfor %}
          </h4>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<h2 class="text-center">Professors</h2>
<div class="container">
  <div class="row">
    {% for prof in sim_profs %}
    <a href= "{% url 'main:professor_full' prof.instr_last_name prof.instr_first_name %}" >
      <div class="square col-md-4">
        <div class="square-content" style="height:auto;">
          <div class="row">
            <div class="col-xs-10"><h2 style="color: black;">{{ prof.instr_full_name }}</h2></div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
