{% extends "main/base.html" %}

{% block title %}Search OpenEvals{% endblock %}

{% block banner %}
    <div class="text-center">
        <h1>Search</h1>
    </div>

{% endblock %}

{% block content %}
<div class="container">
  <form class="main" action="/search" method="post">
    <div style="padding-top: 26px; padding-bottom:26px;">
        {% csrf_token %}
        <input index="" name="search" class="form-control input-lg text-center" id="search" placeholder="Search Courses and Professors by name or code" style="height: 49px; width:100%;">
        <div class="col-md-6">
        <h1>Courses</h1>
        {% for course in courses  %}
            <a href= "{% url 'main:course_full' course.code course.number %}" >
            <div class="square col-xs-12">
                <div class="square-content" style="height:auto;">
                    <h2 style="color: black;">{{ course.code}}-{{ course.number }} {{ course.title }}</h2>
                    <h3 style="color: darkorange;">
                    {% for prof in course.professors %}
                        {{ prof }}
                    {% endfor %}
                    </h3>
                </div>
            </div>
            </a>

        {% endfor %}
        </div>
        <div class="col-md-6">
        <h1>Professors</h1>
        {% for prof in professors %}
            <a href= "{% url 'main:professor_full' prof.fname prof.lname  %}" >
            <div class="square col-xs-12">
                <div class="square-content" style="height: auto;">
                    <h2 style="color: black;">{{ prof.fname }} {{ prof.lname }}</h2>
                    <h3 style="color: darkorange;">
                    {% for course in prof.courses %}
                        {{ course }}
                    {% endfor %}
                    - {{ prof.commonCourse }}
                    </h3>
                </div>
            </div>
            </a>
        {% endfor %}
        </div>
    </div>
    <div class="row">

    </div>
  </form>
</div>

{% endblock %}
