{% extends "main/base.html" %}

{% block title %}Search OpenEvals{% endblock %}

{% block banner %}
    <div class="text-center">
        <h1>Search</h1>
    </div>

{% endblock %}

{% block content %}
<div class="container">
  <form class="main" action="/search" method="post">
    <div style="padding-top: 26px; padding-bottom:26px;">
        {% csrf_token %}
        <input index="" name="search" class="form-control input-lg text-center" id="search" placeholder="Search Courses and Professors by name or code" style="height: 49px; width:100%;">
        <div class="col-md-6">
        <h1>Courses</h1>
        {% for item in result %}
            <a href= "{% url 'main:course_full' %}/{{ item.class_code }}/{{ item.class_number }}" >
            <div class="square col-xs-12">
                <div class="square-content">
                    <p>{{ item.class_code }}-{{ item.class_number }}</p>
                    <p>{{ item.term_code }}</p>
                </div>
            </div>
            </a>

        {% endfor %}
        </div>
        <div class="col-md-6">
        <h1>Professors</h1>
        {% for item in result %}
            <a href= "{% url 'main:course_full' %}/{{ item.class_code }}/{{ item.class_number }}" >
            <div class="square col-xs-12">
                <div class="square-content">
                    <p>{{ item.instr_full_name }}</p>
                    <p>{{ item.class_subj }}</p>
                </div>
            </div>
            </a>
        {% endfor %}
        </div>
    </div>
    <div class="row">

    </div>
  </form>
</div>

{% endblock %}
